.slider-car__item.swiper-slide
  a.slider-car__link(data-fancybox="gallery" href=`img/catalog/catalog-car-${img}@2x.webp` tabindex="0")
    picture
      source(type="image/webp" media="(min-width: 768px)" srcset=`img/catalog/catalog-car-${img}@1x.webp 1x, img/catalog/catalog-car-${img}@2x.webp 2x`)
      source(media="(min-width: 768px)" srcset=`img/catalog/catalog-car-${img}@1x.jpg 1x, img/catalog/catalog-car-${img}@2x.jpg 2x`)
      img.slider__car-img(src=`img/catalog/catalog-car-${img}@1x.jpg` srcset=`img/catalog/catalog-car-${img}@2x.jpg 2x` loading="lazy" alt="")
